<title>Marcas</title>

<body>

    <%- include('../header') %>

<h2>Listado de marcas</h2>
<a href="/marcas/agregar">Agregar nueva marca</a>
<br>
<br>
<table class="filtrable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Activo</th>
      <th>Fecha de alta</th>
    </tr>
  </thead>
  <tbody>
    <% marcas.forEach(c => { %>
      <tr>
        <td><%= c.Id %></td>
        <td><%= c.Nombre %></td>
        <td><%= c.Activo ? 'Sí' : 'No' %></td>
        <td>
          <%= new Date(c.FechaAlta).toISOString().slice(0,10).replace(/-/g, '/') %>
        </td>
        <td>
          <a href="/marcas/editar/<%= c.Id %>">Editar</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<script src="/functions/general.js"></script>
<script src="/functions/filtrosTablas.js"></script>

<%- include('../footer') %>
    
</body>
</html>
