<title>Proveedores</title>

<body>

    <%- include('../header') %>

<h2>Listado de proveedores</h2>
<a href="/proveedores/agregar">Agregar nuevo proveedor</a>
<br>  
<br>
<table class="filtrable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Codigo tributario</th>
      <th>Denominacion</th>
      <th>Direccion</th>
      <th>Localidad</th>
      <th>Provincia</th>
      <th>Telefono</th>
      <th>Mail</th>
      <th>Activo</th>
      <th>Fecha de alta</th>
    </tr>
  </thead>
  <tbody>
    <% proveedores.forEach(p => { %>
      <tr>
        <td><%= p.Id %></td>
        <td><%= p.CodigoTributario %></td>
        <td><%= p.Denominacion %></td>
        <td><%= p.Direccion %></td>
        <td><%= p.Localidad %></td>
        <td><%= p.Provincia %></td>
        <td><%= p.Telefono %></td>
        <td><%= p.Mail %></td>
        <td><%= p.Activo ? 'Sí' : 'No' %></td>
        <td>
          <%= new Date(p.FechaAlta).toISOString().slice(0,10).replace(/-/g, '/') %>
        </td>
        <td>
          <a href="/proveedores/editar/<%= p.Id %>">Editar</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<script src="/functions/general.js"></script>
<script src="/functions/filtrosTablas.js"></script>

<%- include('../footer') %>
    
</body>
</html>
