<title>Agregar producto</title>

<%- include('../header') %>

<h2>Agregar Producto</h2>

<form method="POST" action="/productos/agregar">
  <label>Nombre:</label><br />
  <input type="text" name="nombre" required maxlength="50" /><br /><br />

  <label>Descripción:</label><br />
  <input type="text" name="descripcion" required maxlength="50" /><br /><br />

  <label>Código de barras:</label><br />
  <input
    type="number"
    name="codigoBarras"
    required
    pattern="\d+"
    title="Solo números"
    maxlength="30"
  /><br /><br />

  <label>Marca:</label><br />
  <select id="marcaSelect" name="marca" required>
    <option value="">Seleccione una marca</option>
    <% marcas.forEach(m => { %>
    <option value="<%= m.Id %>"><%= m.Nombre %></option>
    <% }) %></select
  ><br /><br />

  <label>Categoría:</label><br />
  <select id="categoriaSelect" name="categoria" required>
    <option value="">Seleccione una categoría</option>
    <% categorias.forEach(c => { %>
    <option value="<%= c.Id %>"><%= c.Nombre %></option>
    <% }) %></select
  ><br /><br />

  <label>Precio de compra:</label><br />
  <input
    type="number"
    name="precioCompra"
    step="0.01"
    min="0"
    required
    value="0"
    disabled
  /><br /><br />

  <label>Porcentaje de ganancia (%):</label><br />
  <input
    type="number"
    name="porcentajeGanancia"
    step="1"
    min="0"
    max="100"
    required
    value="0"
    disabled
  /><br /><br />

  <label>Precio de venta sugerido:</label><br />
  <input
    type="number"
    name="precioVentaSugerido"
    step="0.01"
    disabled
    placeholder="Se calcula automáticamente"
    value="0"
    disabled
  /><br /><br />

  <label>Precio de venta:</label><br />
  <input
    type="number"
    name="precioVenta"
    step="0.01"
    min="0"
    required
    value="0"
    disabled
  /><br /><br />

  <label>Stock:</label><br />
  <input
    type="number"
    name="stock"
    min="0"
    required
    value="0"
    disabled
  /><br /><br />

  <label>Stock mínimo:</label><br />
  <input type="number" name="stockMinimo" min="0" required /><br /><br />

  <label>Activo:</label><br />
  <select name="activo" required disabled>
    <option value="1" selected>Sí</option>
    <option value="0">No</option></select
  ><br /><br />

  <button type="submit">Guardar</button>
</form>

<script src="/functions/calculosPreciosSugeridos.js"></script>
<script src="/functions/general.js"></script>

<%- include('../footer') %>
