<title>Productos con stock bajo</title>

<%- include('../header') %>

<h2>Productos con Stock Bajo</h2>

<table class="filtrable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Categoría</th>
      <th>Marca</th>
      <th>Stock</th>
      <th>Stock mínimo</th>
    </tr>
  </thead>
  <tbody>
    <% productos.forEach(p => { %>
    <tr>
      <td><%= p.Id %></td>
      <td><%= p.Nombre %></td>
      <td><%= p.Descripcion %></td>
      <td><%= p.Categoria %></td>
      <td><%= p.Marca %></td>
      <td><%= p.Stock %></td>
      <td><%= p.StockMinimo %></td>
    </tr>
    <% }) %>
  </tbody>
</table class="filtrable">

<script src="/functions/general.js"></script>
<script src="/functions/filtrosTablas.js"></script>

<%- include('../footer') %>
