    <title>Ventas</title>
  <body>
    <%- include('../header') %>

    <h2>Listado de ventas</h2>
    <a href="/ventas/agregar">Agregar nueva venta</a>
    <br />
    <br />
    <table class="filtrable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Codigo tributario</th>
          <th>Denominacion</th>
          <th>Importe</th>
          <th>Fecha</th>
          <th>Usuario</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% ventas.forEach(v => { %>
        <tr>
          <td><%= v.Id %></td>
          <td><%= v.CodigoTributario %></td>
          <td><%= v.Denominacion %></td>
          <td>$<%= v.Importe.toFixed(2) %></td>
          <td>
            <%= v.Fecha ? new Date(v.Fecha).toISOString().slice(0,10).replace(/-/g, '/') : '' %>
          </td>
          <td><%= v.Usuario %></td>
          <td>
            <a href="/ventas/consultar/<%= v.Id %>">Consultar</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <script src="/functions/filtrosTablas.js"></script> 

    <%- include('../footer') %>
  </body>
</html>
