<title>Compras</title>

  <body>
    <%- include('../header') %>

    <h2>Listado de compras</h2>
    <a href="/compras/agregar">Agregar nueva compra</a>
    <br />
    <br />
    <table class="filtrable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Codigo tributario</th>
          <th>Denominacion</th>
          <th>Importe</th>
          <th>Fecha</th>
          <th>Usuario</th>
        </tr>
      </thead>
      <tbody>
        <% compras.forEach(c => { %>
        <tr>
          <td><%= c.Id %></td>
          <td><%= c.CodigoTributario %></td>
          <td><%= c.Denominacion %></td>
          <td><%= c.Importe %></td>
          <td>
            <%= c.Fecha ? new
            Date(c.Fecha).toISOString().slice(0,10).replace(/-/g, '/') : '' %>
          </td>
          <td><%= c.Usuario %></td>
          <td>
            <a href="/compras/consultar/<%= c.Id %>">Consultar</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table class="filtrable">

    <script src="/functions/filtrosTablas.js"></script>

    <%- include('../footer') %>
  </body>
</html>
