<title>Usuarios</title>

<body>

    <%- include('../header') %>

<h2>Listado de usuarios</h2>
<a href="/usuarios/agregar">Agregar nuevo usuario</a>
<br>  
<br>
<table class="filtrable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre de usuario</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Fecha de nacimiento</th>
      <th>Administrador</th>
      <th>Activo</th>
      <th>Fecha de alta</th>
    </tr>
  </thead>
  <tbody>
    <% usuarios.forEach(u => { %>
      <tr>
        <td><%= u.Id %></td>
        <td><%= u.NombreUsuario %></td>
        <td><%= u.Nombre %></td>
        <td><%= u.Apellido %></td>
        <td><%= u.Mail %></td>
        <td>
          <%= u.FechaNacimiento ? new Date(u.FechaNacimiento).toISOString().slice(0,10).replace(/-/g, '/') : '' %>
        </td>
        <td><%= u.Administrador ? 'Sí' : 'No' %></td>
        <td><%= u.Activo ? 'Sí' : 'No' %></td>
        <td>
          <%= new Date(u.FechaAlta).toISOString().slice(0,10).replace(/-/g, '/') %>
        </td>
        
        <td>
          <a href="/usuarios/editar/<%= u.Id %>">Editar</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table class="filtrable">

<script src="/functions/general.js"></script>
<script src="/functions/filtrosTablas.js"></script>

<%- include('../footer') %>
    
</body>
</html>
