<title>Editar usuario</title>

<%- include('../header') %>

<h2>Editar usuario</h2>
<form method="POST" action="/usuarios/editar/<%= usuarioMod.Id %>">
  <label>Nombre de usuario:</label>
  <input type="text" name="nombreUsuario" value="<%= usuarioMod.NombreUsuario %>" required maxlength="50">
  <br>

  <label>Clave:</label>
  <input type="password" name="clave" value="<%= usuarioMod.Clave %>" required maxlength="50">
  <br>

  <label>Nombre:</label>
  <input type="text" name="nombre" value="<%= usuarioMod.Nombre %>" required maxlength="50">
  <br>

  <label>Apellido:</label>
  <input type="text" name="apellido" value="<%= usuarioMod.Apellido %>" required >
  <br>

  <label>Email:</label>
  <input type="email" name="mail" value="<%= usuarioMod.Mail %>" required>
  <br>

  <label>Fecha de nacimiento:</label>
  <input type="date" name="fechaNacimiento" value="<%= usuarioMod.FechaNacimiento ? new Date(usuarioMod.FechaNacimiento).toISOString().slice(0, 10) : '' %>" required>
  <br>

  <label>Administrador:</label>
  <select name="administrador">
    <option value="1" <%= usuarioMod.Administrador ? 'selected' : '' %>>Sí</option>
    <option value="0" <%= !usuarioMod.Administrador ? 'selected' : '' %>>No</option>
  </select>
  <br>

  <label>Activo:</label>
  <select name="activo">
    <option value="1" <%= usuarioMod.Activo ? 'selected' : '' %>>Sí</option>
    <option value="0" <%= !usuarioMod.Activo ? 'selected' : '' %>>No</option>
  </select>
  <br><br>

  <button type="submit">Actualizar</button>
</form>
<script src="/functions/general.js"></script>

<%- include('../footer') %>
